{
    "openapi": "3.1.0",
    "info": {
        "title": "Lumos",
        "description": "\n    The Lumos API gives you the building blocks to administer and extend Lumos programmatically.\n    Our REST API provides a management interface for the AppStore and a read interface\n    for the Lumos Core.\n    Go to https://developers.lumos.com to see our complete documentation.\n",
        "version": "0.1.0"
    },
    "servers": [
        {
            "url": "https://api.lumos.com"
        }
    ],
    "paths": {
        "/apps": {
            "get": {
                "tags": [
                    "Core"
                ],
                "summary": "Get Apps",
                "description": "List all of your company's apps.",
                "operationId": "listApps",
                "parameters": [
                    {
                        "description": "Search against name, app instance identifier, and app class ID.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "title": "Name Search",
                            "description": "Search against name, app instance identifier, and app class ID."
                        },
                        "name": "name_search",
                        "in": "query"
                    },
                    {
                        "description": "Search filter should be an exact match.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "title": "Exact Match",
                            "description": "Search filter should be an exact match.",
                            "default": false
                        },
                        "name": "exact_match",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1.0,
                            "title": "Page",
                            "default": 1
                        },
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 100.0,
                            "minimum": 1.0,
                            "title": "Size",
                            "default": 50
                        },
                        "name": "size",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Page_App_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Core"
                ],
                "summary": "Create App",
                "description": "Create a new app.",
                "operationId": "createApp",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AppInputCreate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/App"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/apps/categories": {
            "get": {
                "tags": [
                    "Core"
                ],
                "summary": "Get App Categories",
                "description": "Get app categories.",
                "operationId": "getAppCategories",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "type": "string"
                                    },
                                    "type": "array",
                                    "title": "Response Getappcategories"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/apps/{app_id}": {
            "get": {
                "tags": [
                    "Core"
                ],
                "summary": "Get App",
                "description": "Get an app by id.",
                "operationId": "getApp",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "App Id"
                        },
                        "name": "app_id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/App"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Core"
                ],
                "summary": "Update App",
                "description": "Update an app.",
                "operationId": "updateApp",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "App Id"
                        },
                        "name": "app_id",
                        "in": "path"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AppInputCreate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/App"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/apps/{app_id}/settings": {
            "get": {
                "tags": [
                    "Core"
                ],
                "summary": "Get Appstore App Settings",
                "description": "Get AppStore app settings.",
                "operationId": "getAppSettings",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "App Id"
                        },
                        "name": "app_id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppSettingOutput"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Core"
                ],
                "summary": "Update Domain App Appstore Settings",
                "description": "Update app settings.",
                "operationId": "updateAppSettings",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "App Id"
                        },
                        "name": "app_id",
                        "in": "path"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AppSettingInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppSettingOutput"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/users/current": {
            "get": {
                "tags": [
                    "Core"
                ],
                "summary": "Get Current User",
                "description": "Get current user",
                "operationId": "currentUser",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/User"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/users": {
            "get": {
                "tags": [
                    "Core"
                ],
                "summary": "Get Users",
                "description": "List all of your company's users.",
                "operationId": "listUsers",
                "parameters": [
                    {
                        "description": "Search for users by name or email.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "title": "Search Term",
                            "description": "Search for users by name or email."
                        },
                        "name": "search_term",
                        "in": "query"
                    },
                    {
                        "description": "If a search_term is provided, only accept exact matches.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "title": "Exact Match",
                            "description": "If a search_term is provided, only accept exact matches.",
                            "default": false
                        },
                        "name": "exact_match",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1.0,
                            "title": "Page",
                            "default": 1
                        },
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 100.0,
                            "minimum": 1.0,
                            "title": "Size",
                            "default": 50
                        },
                        "name": "size",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Page_User_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/users/{user_id}": {
            "get": {
                "tags": [
                    "Core"
                ],
                "summary": "Get User",
                "description": "Get user by id.",
                "operationId": "getUser",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "User Id"
                        },
                        "name": "user_id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/User"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/inline_webhooks": {
            "get": {
                "tags": [
                    "Core"
                ],
                "summary": "Get Inline Webhooks",
                "description": "Get available webhooks",
                "operationId": "get_inline_webhooks_inline_webhooks_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "$ref": "#/components/schemas/InlineWebhook"
                                    },
                                    "type": "array",
                                    "title": "Response Get Inline Webhooks Inline Webhooks Get"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/accounts": {
            "get": {
                "tags": [
                    "Core"
                ],
                "summary": "Get Accounts",
                "description": "Get all accounts associated with apps at your company.",
                "operationId": "getAccounts",
                "parameters": [
                    {
                        "required": false,
                        "schema": {
                            "type": "string",
                            "title": "App Id"
                        },
                        "name": "app_id",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1.0,
                            "title": "Page",
                            "default": 1
                        },
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 100.0,
                            "minimum": 1.0,
                            "title": "Size",
                            "default": 50
                        },
                        "name": "size",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Page_Account_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/groups/{group_id}/users": {
            "get": {
                "tags": [
                    "Core"
                ],
                "summary": "Get Group Membership",
                "description": "Get user members by group ID.",
                "operationId": "getGroupMembership",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Group Id"
                        },
                        "name": "group_id",
                        "in": "path"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1.0,
                            "title": "Page",
                            "default": 1
                        },
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 100.0,
                            "minimum": 1.0,
                            "title": "Size",
                            "default": 50
                        },
                        "name": "size",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Page_User_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/groups/{group_id}": {
            "get": {
                "tags": [
                    "Core"
                ],
                "summary": "Get Group",
                "description": "Get group by ID.",
                "operationId": "getGroup",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Group Id"
                        },
                        "name": "group_id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Group"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/groups": {
            "get": {
                "tags": [
                    "Core"
                ],
                "summary": "Get Groups",
                "description": "Get groups synced from connected integrations",
                "operationId": "getGroups",
                "parameters": [
                    {
                        "description": "Filters groups by integration specific ID, e.g. the group's Okta ID.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "title": "Integration Specific Id",
                            "description": "Filters groups by integration specific ID, e.g. the group's Okta ID."
                        },
                        "name": "integration_specific_id",
                        "in": "query"
                    },
                    {
                        "description": "Filters groups by name.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "title": "Name",
                            "description": "Filters groups by name."
                        },
                        "name": "name",
                        "in": "query"
                    },
                    {
                        "description": "Search filter should be an exact match.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "title": "Exact Match",
                            "description": "Search filter should be an exact match.",
                            "default": false
                        },
                        "name": "exact_match",
                        "in": "query"
                    },
                    {
                        "description": "Filters groups by the ID of the app to which they belong.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "title": "App Id",
                            "description": "Filters groups by the ID of the app to which they belong."
                        },
                        "name": "app_id",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1.0,
                            "title": "Page",
                            "default": 1
                        },
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 100.0,
                            "minimum": 1.0,
                            "title": "Size",
                            "default": 50
                        },
                        "name": "size",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Page_Group_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/accounts/upload/{job_id}": {
            "get": {
                "tags": [
                    "Core"
                ],
                "summary": "Get Upload Job State",
                "description": "Get state of an account upload job.",
                "operationId": "getUploadJobState",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Job Id"
                        },
                        "name": "job_id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobStateOutput"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/activity_logs": {
            "get": {
                "tags": [
                    "Core"
                ],
                "summary": "Get Activity Logs",
                "description": "Get activity logs.",
                "operationId": "getActivityLogs",
                "parameters": [
                    {
                        "required": false,
                        "schema": {
                            "type": "string",
                            "title": "Since"
                        },
                        "name": "since",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "string",
                            "title": "Until"
                        },
                        "name": "until",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 100.0,
                            "minimum": 1.0,
                            "title": "Limit",
                            "default": 50
                        },
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 0.0,
                            "title": "Offset",
                            "default": 0
                        },
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LimitOffsetPage_ActivityLog_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/accounts/upload": {
            "post": {
                "tags": [
                    "Core"
                ],
                "summary": "Create Accounts",
                "description": "Upload accounts to an app.",
                "operationId": "postAccounts",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AccountsUploadInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobStateOutput"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/activity_records": {
            "post": {
                "tags": [
                    "Core"
                ],
                "summary": "Update Activity Records",
                "description": "Update the last_login or last_activity for a given account.",
                "operationId": "activityRecords",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ActivityRecordInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActivityRecordOutput"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/activity_records/job/{job_id}": {
            "get": {
                "tags": [
                    "Core"
                ],
                "summary": "Get Activity Records Job State",
                "description": "Get the state of an activity records post-processing job.",
                "operationId": "getActivityRecordsJobState",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Job Id"
                        },
                        "name": "job_id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SyncTaskOutput"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/appstore/requestable_permissions": {
            "get": {
                "tags": [
                    "AppStore"
                ],
                "summary": "Get Appstore Permissions For App",
                "description": "Get AppStore permissions for an application.",
                "operationId": "get_appstore_permissions_for_app_appstore_requestable_permissions_get",
                "parameters": [
                    {
                        "description": "Filters requestable permissions by the ID of the app to which they belong.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "title": "App Id",
                            "description": "Filters requestable permissions by the ID of the app to which they belong."
                        },
                        "name": "app_id",
                        "in": "query"
                    },
                    {
                        "description": "\n    Searches permissions by the permission's group name,\n    request configuration name, or specific integration ID.\n",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "title": "Search Term",
                            "description": "\n    Searches permissions by the permission's group name,\n    request configuration name, or specific integration ID.\n"
                        },
                        "name": "search_term",
                        "in": "query"
                    },
                    {
                        "description": "Search filter should be an exact match.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "title": "Exact Match",
                            "description": "Search filter should be an exact match.",
                            "default": false
                        },
                        "name": "exact_match",
                        "in": "query"
                    },
                    {
                        "description": "\n    Filters permissions by visibility in the AppStore.\n",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "title": "In App Store",
                            "description": "\n    Filters permissions by visibility in the AppStore.\n"
                        },
                        "name": "in_app_store",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1.0,
                            "title": "Page",
                            "default": 1
                        },
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 100.0,
                            "minimum": 1.0,
                            "title": "Size",
                            "default": 50
                        },
                        "name": "size",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Page_RequestablePermissionOutput_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "AppStore"
                ],
                "summary": "Create Appstore Requestable Permission",
                "description": "**Create a permission attached to an App in the AppStore.**\n\n\n*Required fields:*\n- app-identifier. The App should be identified either by app_id or app_class_id + app_instance_id.\n- label\n\n*Defaults:*\n- request_config:\n    - appstore_visibility: HIDDEN\n    - allowed_groups:\n        - type: ALL_GROUPS\n        - groups: []\n    - request_approval_config\n        - manager_approval: NONE\n        - request_approval_stages: []\n    - request_fulfillment_config\n        - manual_steps_needed: false\n- All other fields will have null values by default.",
                "operationId": "create_appstore_requestable_permission_appstore_requestable_permissions_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestablePermissionInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RequestablePermissionOutput"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/appstore/requestable_permissions/{permission_id}": {
            "get": {
                "tags": [
                    "AppStore"
                ],
                "summary": "Get Appstore Permission",
                "description": "Get an AppStore permission.",
                "operationId": "get_appstore_permission_appstore_requestable_permissions__permission_id__get",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Permission Id"
                        },
                        "name": "permission_id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RequestablePermissionOutput"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "AppStore"
                ],
                "summary": "Delete Appstore Permission",
                "description": "Delete a requestable permission by ID.\n\n    Only permissions of type 'NATIVE' can be deleted.",
                "operationId": "delete_appstore_permission_appstore_requestable_permissions__permission_id__delete",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Permission Id"
                        },
                        "name": "permission_id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Successful Response"
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "AppStore"
                ],
                "summary": "Update Appstore Permission",
                "description": "**Update an AppStore permission.**\n\n\nAll fields present in the payload will override the permission's data.\nAny missing fields will be disregarded.\n\n    Non-updatable fields for now:\n        request_config -> request_fulfillment_config -> provisioning_group",
                "operationId": "update_appstore_permission_appstore_requestable_permissions__permission_id__patch",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Permission Id"
                        },
                        "name": "permission_id",
                        "in": "path"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestablePermissionInputUpdate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RequestablePermissionOutput"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/appstore/pre_approval_rules": {
            "get": {
                "tags": [
                    "AppStore"
                ],
                "summary": "Get Appstore Pre Approval Rules For App",
                "description": "Get AppStore pre-approval rules for an app.",
                "operationId": "get_appstore_pre_approval_rules_for_app_appstore_pre_approval_rules_get",
                "parameters": [
                    {
                        "description": "Filters preapproval rules by the ID of the app to which they belong.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "title": "App Id",
                            "description": "Filters preapproval rules by the ID of the app to which they belong."
                        },
                        "name": "app_id",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1.0,
                            "title": "Page",
                            "default": 1
                        },
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 100.0,
                            "minimum": 1.0,
                            "title": "Size",
                            "default": 50
                        },
                        "name": "size",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Page_PreApprovalRuleOutput_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "AppStore"
                ],
                "summary": "Create Pre Approval Rule",
                "description": "Create a pre-approval rule attached to an App in the AppStore.",
                "operationId": "create_pre_approval_rule_appstore_pre_approval_rules_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PreApprovalRuleInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PreApprovalRuleOutput"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/appstore/pre_approval_rules/{pre_approval_rule_id}": {
            "get": {
                "tags": [
                    "AppStore"
                ],
                "summary": "Get Appstore Pre Approval Rule",
                "description": "Get an AppStore pre-approval rule.",
                "operationId": "get_appstore_pre_approval_rule_appstore_pre_approval_rules__pre_approval_rule_id__get",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Pre Approval Rule Id"
                        },
                        "name": "pre_approval_rule_id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PreApprovalRuleOutput"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "AppStore"
                ],
                "summary": "Delete Pre Approval Rule",
                "description": "Delete a pre-approval rule by ID.",
                "operationId": "delete_pre_approval_rule_appstore_pre_approval_rules__pre_approval_rule_id__delete",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Pre Approval Rule Id"
                        },
                        "name": "pre_approval_rule_id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Successful Response"
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "AppStore"
                ],
                "summary": "Update Pre Approval Rule",
                "description": "**Update a pre-approval rule attached to an App in the AppStore.**\n\nAll fields present in the payload will override the pre-approval rule's data.\nAny missing fields will be disregarded.",
                "operationId": "update_pre_approval_rule_appstore_pre_approval_rules__pre_approval_rule_id__patch",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Pre Approval Rule Id"
                        },
                        "name": "pre_approval_rule_id",
                        "in": "path"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PreApprovalRuleUpdateInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PreApprovalRuleOutput"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/appstore/apps/{app_id}/settings": {
            "get": {
                "tags": [
                    "AppStore"
                ],
                "summary": "Get Appstore App Settings",
                "description": "Get AppStore app settings.",
                "operationId": "getAppStoreAppSettings",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "App Id"
                        },
                        "name": "app_id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppStoreAppSettingsOutput"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "AppStore"
                ],
                "summary": "Update Appstore App Settings",
                "description": "Update AppStore app settings.",
                "operationId": "updateAppStoreAppSettings",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "App Id"
                        },
                        "name": "app_id",
                        "in": "path"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AppStoreAppSettingsInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppStoreAppSettingsOutput"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/appstore/apps": {
            "get": {
                "tags": [
                    "AppStore"
                ],
                "summary": "Get Appstore Apps",
                "description": "List all AppStore apps.",
                "operationId": "getAppStoreApps",
                "parameters": [
                    {
                        "description": "Filters apps by the ID of the app.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "title": "App Id",
                            "description": "Filters apps by the ID of the app."
                        },
                        "name": "app_id",
                        "in": "query"
                    },
                    {
                        "description": "Search against name, app instance identifier, and app class ID.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "title": "Name Search",
                            "description": "Search against name, app instance identifier, and app class ID."
                        },
                        "name": "name_search",
                        "in": "query"
                    },
                    {
                        "description": "Search filter should be an exact match.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "title": "Exact Match",
                            "description": "Search filter should be an exact match.",
                            "default": false
                        },
                        "name": "exact_match",
                        "in": "query"
                    },
                    {
                        "description": "Get all apps in the AppStore regardless of visibility. Only available to admins.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "title": "All Visibilities",
                            "description": "Get all apps in the AppStore regardless of visibility. Only available to admins.",
                            "default": false
                        },
                        "name": "all_visibilities",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1.0,
                            "title": "Page",
                            "default": 1
                        },
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 100.0,
                            "minimum": 1.0,
                            "title": "Size",
                            "default": 50
                        },
                        "name": "size",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Page_AppStoreApp_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "AppStore"
                ],
                "summary": "Add App To Appstore",
                "description": "Add app to AppStore with given settings.",
                "operationId": "addAppToAppStore",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AddAppToAppStoreInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppStoreAppSettingsOutput"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/appstore/apps/{app_id}": {
            "get": {
                "tags": [
                    "AppStore"
                ],
                "summary": "Get Appstore App",
                "description": "Get AppStore app.",
                "operationId": "getAppStoreApp",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "App Id"
                        },
                        "name": "app_id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppStoreApp"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "AppStore"
                ],
                "summary": "Remove App From Appstore",
                "description": "Remove app from AppStore.",
                "operationId": "removeAppFromAppStore",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "App Id"
                        },
                        "name": "app_id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/appstore/access_request": {
            "post": {
                "tags": [
                    "AppStore"
                ],
                "summary": "Create Access Request",
                "description": "Create a request to access a specific permission in the appstore.",
                "operationId": "createAccessRequest",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateAccessRequestInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "$ref": "#/components/schemas/AccessRequest"
                                    },
                                    "type": "array",
                                    "title": "Response Createaccessrequest"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/appstore/access_requests/{access_request_id}": {
            "get": {
                "tags": [
                    "AppStore"
                ],
                "summary": "Get Access Request",
                "description": "Get access request by ID.",
                "operationId": "getAccessRequest",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Access Request Id"
                        },
                        "name": "access_request_id",
                        "in": "path"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1.0,
                            "title": "Page",
                            "default": 1
                        },
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 100.0,
                            "minimum": 1.0,
                            "title": "Size",
                            "default": 50
                        },
                        "name": "size",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccessRequest"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/appstore/access_requests": {
            "get": {
                "tags": [
                    "AppStore"
                ],
                "summary": "Get Access Requests",
                "description": "Get all access requests for the current organization.",
                "operationId": "getAccessRequests",
                "parameters": [
                    {
                        "description": "Filters requests by the ID of the target user.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "title": "Target User Id",
                            "description": "Filters requests by the ID of the target user."
                        },
                        "name": "target_user_id",
                        "in": "query"
                    },
                    {
                        "description": "Filters requests by the ID of the requesting user.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "title": "Requester User Id",
                            "description": "Filters requests by the ID of the requesting user."
                        },
                        "name": "requester_user_id",
                        "in": "query"
                    },
                    {
                        "description": "Filters requests by the ID of the user.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "title": "User Id",
                            "description": "Filters requests by the ID of the user."
                        },
                        "name": "user_id",
                        "in": "query"
                    },
                    {
                        "description": "Filters requests by their status. Possible values: 'PENDING', 'PENDING_MANAGER_APPROVAL', 'MANAGER_APPROVED', 'MANAGER_DENIED', 'PENDING_APPROVAL', 'APPROVED', 'DENIED', 'EXPIRED', 'CANCELLED', 'PENDING_PROVISIONING', 'PENDING_MANUAL_PROVISIONING', 'DENIED_PROVISIONING', 'PROVISIONED', 'PENDING_MANUAL_DEPROVISIONING', 'TIME_BASED_EXPIRED', 'COMPLETED', 'REVERTING', 'REVERTED'",
                        "required": false,
                        "schema": {
                            "items": {
                                "$ref": "#/components/schemas/SupportRequestStatus"
                            },
                            "type": "array",
                            "description": "Filters requests by their status. Possible values: 'PENDING', 'PENDING_MANAGER_APPROVAL', 'MANAGER_APPROVED', 'MANAGER_DENIED', 'PENDING_APPROVAL', 'APPROVED', 'DENIED', 'EXPIRED', 'CANCELLED', 'PENDING_PROVISIONING', 'PENDING_MANUAL_PROVISIONING', 'DENIED_PROVISIONING', 'PROVISIONED', 'PENDING_MANUAL_DEPROVISIONING', 'TIME_BASED_EXPIRED', 'COMPLETED', 'REVERTING', 'REVERTED'"
                        },
                        "name": "statuses",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1.0,
                            "title": "Page",
                            "default": 1
                        },
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 100.0,
                            "minimum": 1.0,
                            "title": "Size",
                            "default": 50
                        },
                        "name": "size",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Page_AccessRequest_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/vendor_agreements": {
            "get": {
                "tags": [
                    "Vendor Management"
                ],
                "summary": "Get Vendor Agreements",
                "description": "List all of your company's vendor agreements.",
                "operationId": "listVendorAgreements",
                "parameters": [
                    {
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1.0,
                            "title": "Page",
                            "default": 1
                        },
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 100.0,
                            "minimum": 1.0,
                            "title": "Size",
                            "default": 50
                        },
                        "name": "size",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Page_VendorAgreement_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/found_documents": {
            "post": {
                "tags": [
                    "Vendor Management"
                ],
                "summary": "Upload Found Documents",
                "description": "Upload a newly discovered document (e.g. Order Form, Quote) to Lumos for review",
                "operationId": "createFoundDocument",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FoundDocumentsUpload",
                                "properties": {
                                    "unique_identifier": {
                                        "type": "string",
                                        "title": "Unique Identifier",
                                        "description": "A unique identifier for the contract being uploaded. This can be an ID from an external system like Coupa, an internal ID such as a PO number, or simply the name of the file."
                                    },
                                    "files": {
                                        "items": {
                                            "properties": {
                                                "type": {
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array",
                                        "title": "Files",
                                        "description": "A list of publicly accessible URLs that direct to files related to a Vendor Agreement. For example, the Order Form, Quote, MSA, or Terms and Conditions."
                                    },
                                    "vendor_name": {
                                        "type": "string",
                                        "title": "Vendor Name",
                                        "description": "The name of the vendor associated with this document"
                                    },
                                    "start_date": {
                                        "type": "string",
                                        "format": "date",
                                        "title": "Start Date",
                                        "description": "The start date of the attached contract"
                                    },
                                    "end_date": {
                                        "type": "string",
                                        "format": "date",
                                        "title": "End Date",
                                        "description": "The end date of the attached contract"
                                    },
                                    "source_app_id": {
                                        "type": "string",
                                        "title": "Source App ID",
                                        "description": "The ID of the app that sourced this document. For example, if you are using this API to create a custom Google Drive integration, you might include the ID for the Google Workspaceapp in Lumos. This determines which app's logo is displayed in Lumos."
                                    },
                                    "total_cost": {
                                        "allOf": [
                                            {
                                                "$ref": "#/components/schemas/Cost"
                                            }
                                        ],
                                        "title": "Total Cost",
                                        "description": "The total cost of the contract. If this is a multi-year contract, this should include the cost for future years."
                                    }
                                },
                                "type": "object",
                                "required": [
                                    "unique_identifier",
                                    "files"
                                ]
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "unique_identifier": {
                                        "type": "string",
                                        "title": "Unique Identifier",
                                        "description": "A unique identifier for the contract being uploaded. This can be an ID from an external system like Coupa, an internal ID such as a PO number, or simply the name of the file."
                                    },
                                    "files": {
                                        "items": {
                                            "type": "string",
                                            "format": "binary"
                                        },
                                        "type": "array",
                                        "title": "Files",
                                        "description": "A list of files related to a vendor agreement. For example, the Order Form, Quote, MSA, or Terms and Conditions."
                                    },
                                    "vendor_name": {
                                        "type": "string",
                                        "title": "Vendor Name",
                                        "description": "The name of the vendor associated with this document"
                                    },
                                    "start_date": {
                                        "type": "string",
                                        "format": "date",
                                        "title": "Start Date",
                                        "description": "The start date of the attached contract"
                                    },
                                    "end_date": {
                                        "type": "string",
                                        "format": "date",
                                        "title": "End Date",
                                        "description": "The end date of the attached contract"
                                    },
                                    "source_app_id": {
                                        "type": "string",
                                        "title": "Source App ID",
                                        "description": "The ID of the app that sourced this document. For example, if you are using this API to create a custom Google Drive integration, you might include the ID for the Google Workspaceapp in Lumos. This determines which app's logo is displayed in Lumos."
                                    }
                                },
                                "type": "object",
                                "required": [
                                    "unique_identifier",
                                    "files"
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/orders": {
            "post": {
                "tags": [
                    "Vendor Management"
                ],
                "summary": "Upload Order",
                "description": "Upload a newly discovered document (e.g. Order Form, Quote) to Lumos",
                "operationId": "createOrder",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OrderInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
[...]
