{
  "openapi": "3.1.0",
  "info": {
    "title": "Lumos",
    "description": "\n    The Lumos API gives you the building blocks to administer and extend Lumos programmatically.\n    Our REST API provides a management interface for the AppStore and a read interface\n    for the Lumos Core.\n    Go to https://developers.lumos.com to see our complete documentation.\n",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.lumos.com"
    }
  ],
  "paths": {
    "/apps": {
      "get": {
        "tags": [
          "Core"
        ],
        "summary": "Get Apps",
        "description": "List all of your company's apps.",
        "operationId": "listApps",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "name_search",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Search against name, app instance identifier, and app class ID.",
              "title": "Name Search"
            },
            "description": "Search against name, app instance identifier, and app class ID."
          },
          {
            "name": "exact_match",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Search filter should be an exact match.",
              "default": false,
              "title": "Exact Match"
            },
            "description": "Search filter should be an exact match."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Page size",
              "default": 50,
              "title": "Size"
            },
            "description": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page_App_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Core"
        ],
        "summary": "Create App",
        "description": "Create a new app.",
        "operationId": "createApp",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppInputCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/App"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/apps/categories": {
      "get": {
        "tags": [
          "Core"
        ],
        "summary": "Get App Categories",
        "description": "Get app categories.",
        "operationId": "getAppCategories",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array",
                  "title": "Response Getappcategories"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/apps/{app_id}": {
      "get": {
        "tags": [
          "Core"
        ],
        "summary": "Get App",
        "description": "Get an app by id.",
        "operationId": "getApp",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "App Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/App"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Core"
        ],
        "summary": "Update App",
        "description": "Update an app.",
        "operationId": "updateApp",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "App Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppInputCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/App"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{app_id}/settings": {
      "get": {
        "tags": [
          "Core"
        ],
        "summary": "Get Appstore App Settings",
        "description": "Get AppStore app settings.",
        "operationId": "getAppSettings",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "App Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppSettingOutput"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Core"
        ],
        "summary": "Update Domain App Appstore Settings",
        "description": "Update app settings.",
        "operationId": "updateAppSettings",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "App Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppSettingInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppSettingOutput"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/users/current": {
      "get": {
        "tags": [
          "Core"
        ],
        "summary": "Get Current User",
        "description": "Get current user",
        "operationId": "currentUser",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/users": {
      "get": {
        "tags": [
          "Core"
        ],
        "summary": "Get Users",
        "description": "List all of your company's users.",
        "operationId": "listUsers",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "search_term",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Search for users by name or email.",
              "title": "Search Term"
            },
            "description": "Search for users by name or email."
          },
          {
            "name": "exact_match",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "If a search_term is provided, only accept exact matches.",
              "default": false,
              "title": "Exact Match"
            },
            "description": "If a search_term is provided, only accept exact matches."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Page size",
              "default": 50,
              "title": "Size"
            },
            "description": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page_User_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/users/{user_id}": {
      "get": {
        "tags": [
          "Core"
        ],
        "summary": "Get User",
        "description": "Get user by id.",
        "operationId": "getUser",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "User Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/inline_webhooks": {
      "get": {
        "tags": [
          "Core"
        ],
        "summary": "Get Inline Webhooks",
        "description": "Get available webhooks",
        "operationId": "get_inline_webhooks_inline_webhooks_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/InlineWebhook"
                  },
                  "type": "array",
                  "title": "Response Get Inline Webhooks Inline Webhooks Get"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/accounts": {
      "get": {
        "tags": [
          "Core"
        ],
        "summary": "Get Accounts",
        "description": "Get all accounts associated with apps at your company.",
        "operationId": "getAccounts",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "App Id"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Page size",
              "default": 50,
              "title": "Size"
            },
            "description": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page_Account_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/groups/{group_id}/users": {
      "get": {
        "tags": [
          "Core"
        ],
        "summary": "Get Group Membership",
        "description": "Get user members by group ID.",
        "operationId": "getGroupMembership",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Group Id"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Page size",
              "default": 50,
              "title": "Size"
            },
            "description": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page_User_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/groups/{group_id}": {
      "get": {
        "tags": [
          "Core"
        ],
        "summary": "Get Group",
        "description": "Get group by ID.",
        "operationId": "getGroup",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Group Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/groups": {
      "get": {
        "tags": [
          "Core"
        ],
        "summary": "Get Groups",
        "description": "Get groups synced from connected integrations",
        "operationId": "getGroups",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "integration_specific_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filters groups by integration specific ID, e.g. the group's Okta ID.",
              "title": "Integration Specific Id"
            },
            "description": "Filters groups by integration specific ID, e.g. the group's Okta ID."
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filters groups by name.",
              "title": "Name"
            },
            "description": "Filters groups by name."
          },
          {
            "name": "exact_match",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Search filter should be an exact match.",
              "default": false,
              "title": "Exact Match"
            },
            "description": "Search filter should be an exact match."
          },
          {
            "name": "app_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filters groups by the ID of the app to which they belong.",
              "title": "App Id"
            },
            "description": "Filters groups by the ID of the app to which they belong."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Page size",
              "default": 50,
              "title": "Size"
            },
            "description": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page_Group_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/upload/{job_id}": {
      "get": {
        "tags": [
          "Core"
        ],
        "summary": "Get Upload Job State",
        "description": "Get state of an account upload job.",
        "operationId": "getUploadJobState",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStateOutput"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/activity_logs": {
      "get": {
        "tags": [
          "Core"
        ],
        "summary": "Get Activity Logs",
        "description": "Get activity logs.",
        "operationId": "getActivityLogs",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Since"
            }
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Until"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Page size limit",
              "default": 50,
              "title": "Limit"
            },
            "description": "Page size limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Page offset",
              "default": 0,
              "title": "Offset"
            },
            "description": "Page offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LimitOffsetPage_ActivityLog_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/upload": {
      "post": {
        "tags": [
          "Core"
        ],
        "summary": "Create Accounts",
        "description": "Upload accounts to an app.",
        "operationId": "postAccounts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountsUploadInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStateOutput"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/activity_records": {
      "post": {
        "tags": [
          "Core"
        ],
        "summary": "Update Activity Records",
        "description": "Update the last_login or last_activity for a given account.",
        "operationId": "activityRecords",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivityRecordInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityRecordOutput"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/activity_records/job/{job_id}": {
      "get": {
        "tags": [
          "Core"
        ],
        "summary": "Get Activity Records Job State",
        "description": "Get the state of an activity records post-processing job.",
        "operationId": "getActivityRecordsJobState",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncTaskOutput"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/appstore/apps/{app_id}/requestable_permissions": {
      "get": {
        "tags": [
          "AppStore"
        ],
        "summary": "Get Appstore Permissions For App",
        "description": "Get AppStore permissions for an application.",
        "operationId": "get_appstore_permissions_for_app_appstore_apps__app_id__requestable_permissions_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filters requestable permissions by the ID of the app to which they belong.",
              "title": "App Id"
            },
            "description": "Filters requestable permissions by the ID of the app to which they belong."
          },
          {
            "name": "search_term",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "\n    Searches permissions by the permission's group name,\n    request configuration name, or specific integration ID.\n",
              "title": "Search Term"
            },
            "description": "\n    Searches permissions by the permission's group name,\n    request configuration name, or specific integration ID.\n"
          },
          {
            "name": "exact_match",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Search filter should be an exact match.",
              "default": false,
              "title": "Exact Match"
            },
            "description": "Search filter should be an exact match."
          },
          {
            "name": "in_app_store",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "\n    Filters permissions by visibility in the AppStore.\n",
              "title": "In App Store"
            },
            "description": "\n    Filters permissions by visibility in the AppStore.\n"
          },
          {
            "name": "include_inherited_configs",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include inherited configurations from parent app.",
              "default": true,
              "title": "Include Inherited Configs"
            },
            "description": "Include inherited configurations from parent app."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Page size",
              "default": 50,
              "title": "Size"
            },
            "description": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page_RequestablePermissionOutput_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/appstore/requestable_permissions": {
      "get": {
        "tags": [
          "AppStore"
        ],
        "summary": "Get Appstore Permissions",
        "description": "Get AppStore permissions for an application.",
        "operationId": "get_appstore_permissions_appstore_requestable_permissions_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filters requestable permissions by the ID of the app to which they belong.",
              "title": "App Id"
            },
            "description": "Filters requestable permissions by the ID of the app to which they belong."
          },
          {
            "name": "search_term",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "\n    Searches permissions by the permission's group name,\n    request configuration name, or specific integration ID.\n",
              "title": "Search Term"
            },
            "description": "\n    Searches permissions by the permission's group name,\n    request configuration name, or specific integration ID.\n"
          },
          {
            "name": "exact_match",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Search filter should be an exact match.",
              "default": false,
              "title": "Exact Match"
            },
            "description": "Search filter should be an exact match."
          },
          {
            "name": "in_app_store",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "\n    Filters permissions by visibility in the AppStore.\n",
              "title": "In App Store"
            },
            "description": "\n    Filters permissions by visibility in the AppStore.\n"
          },
          {
            "name": "include_inherited_configs",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include inherited configurations from parent app.",
              "default": true,
              "title": "Include Inherited Configs"
            },
            "description": "Include inherited configurations from parent app."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Page size",
              "default": 50,
              "title": "Size"
            },
            "description": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page_RequestablePermissionOutput_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "AppStore"
        ],
        "summary": "Create Appstore Requestable Permission",
        "description": "**Create a permission attached to an App in the AppStore.**\n\n\n*Required fields:*\n- app-identifier. The App should be identified either by app_id or app_class_id + app_instance_id.\n- label\n\n*Defaults:*\n- request_config:\n    - appstore_visibility: HIDDEN\n    - allowed_groups:\n        - type: ALL_GROUPS\n        - groups: []\n    - request_approval_config\n        - manager_approval: NONE\n        - request_approval_stages: []\n    - request_fulfillment_config\n        - manual_steps_needed: false\n- All other fields will have null values by default.",
        "operationId": "create_appstore_requestable_permission_appstore_requestable_permissions_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "include_inherited_configs",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include inherited configurations from parent app.",
              "default": true,
              "title": "Include Inherited Configs"
            },
            "description": "Include inherited configurations from parent app."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestablePermissionInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestablePermissionOutput"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/appstore/requestable_permissions/{permission_id}": {
      "get": {
        "tags": [
          "AppStore"
        ],
        "summary": "Get Appstore Permission",
        "description": "Get an AppStore permission.",
        "operationId": "get_appstore_permission_appstore_requestable_permissions__permission_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "permission_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Permission Id"
            }
          },
          {
            "name": "include_inherited_configs",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include inherited configurations from parent app.",
              "default": true,
              "title": "Include Inherited Configs"
            },
            "description": "Include inherited configurations from parent app."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestablePermissionOutput"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "AppStore"
        ],
        "summary": "Update Appstore Permission",
        "description": "**Update an AppStore permission.**\n\n\nAll fields present in the payload will override the permission's data.\nAny missing fields will be disregarded.\n\n    Non-updatable fields for now:\n        request_config -> request_fulfillment_config -> provisioning_group",
        "operationId": "update_appstore_permission_appstore_requestable_permissions__permission_id__patch",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "permission_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Permission Id"
            }
          },
          {
            "name": "include_inherited_configs",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include inherited configurations from parent app.",
              "default": true,
              "title": "Include Inherited Configs"
            },
            "description": "Include inherited configurations from parent app."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestablePermissionInputUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestablePermissionOutput"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AppStore"
        ],
        "summary": "Delete Appstore Permission",
        "description": "Delete a requestable permission by ID.\n\n    Only permissions of type 'NATIVE' can be deleted.",
        "operationId": "delete_appstore_permission_appstore_requestable_permissions__permission_id__delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "permission_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Permission Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/appstore/pre_approval_rules": {
      "get": {
        "tags": [
          "AppStore"
        ],
        "summary": "Get Appstore Pre Approval Rules For App",
        "description": "Get AppStore pre-approval rules for an app.",
        "operationId": "get_appstore_pre_approval_rules_for_app_appstore_pre_approval_rules_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filters preapproval rules by the ID of the app to which they belong.",
              "title": "App Id"
            },
            "description": "Filters preapproval rules by the ID of the app to which they belong."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Page size",
              "default": 50,
              "title": "Size"
            },
            "description": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page_PreApprovalRuleOutput_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "AppStore"
        ],
        "summary": "Create Pre Approval Rule",
        "description": "Create a pre-approval rule attached to an App in the AppStore.",
        "operationId": "create_pre_approval_rule_appstore_pre_approval_rules_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreApprovalRuleInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreApprovalRuleOutput"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/appstore/pre_approval_rules/{pre_approval_rule_id}": {
      "get": {
        "tags": [
          "AppStore"
        ],
        "summary": "Get Appstore Pre Approval Rule",
        "description": "Get an AppStore pre-approval rule.",
        "operationId": "get_appstore_pre_approval_rule_appstore_pre_approval_rules__pre_approval_rule_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "pre_approval_rule_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Pre Approval Rule Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreApprovalRuleOutput"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "AppStore"
        ],
        "summary": "Update Pre Approval Rule",
        "description": "**Update a pre-approval rule attached to an App in the AppStore.**\n\nAll fields present in the payload will override the pre-approval rule's data.\nAny missing fields will be disregarded.",
        "operationId": "update_pre_approval_rule_appstore_pre_approval_rules__pre_approval_rule_id__patch",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "pre_approval_rule_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Pre Approval Rule Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreApprovalRuleUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreApprovalRuleOutput"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AppStore"
        ],
        "summary": "Delete Pre Approval Rule",
        "description": "Delete a pre-approval rule by ID.",
        "operationId": "delete_pre_approval_rule_appstore_pre_approval_rules__pre_approval_rule_id__delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "pre_approval_rule_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Pre Approval Rule Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/appstore/apps/{app_id}/settings": {
      "get": {
        "tags": [
          "AppStore"
        ],
        "summary": "Get Appstore App Settings",
        "description": "Get AppStore app settings.",
        "operationId": "getAppStoreAppSettings",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "App Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppStoreAppSettingsOutput"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "AppStore"
        ],
        "summary": "Update Appstore App Settings",
        "description": "Update AppStore app settings.",
        "operationId": "updateAppStoreAppSettings",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "App Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppStoreAppSettingsInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppStoreAppSettingsOutput"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/appstore/apps": {
      "post": {
        "tags": [
          "AppStore"
        ],
        "summary": "Add App To Appstore",
        "description": "Add app to AppStore with given settings.",
        "operationId": "addAppToAppStore",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddAppToAppStoreInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppStoreAppSettingsOutput"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "AppStore"
        ],
        "summary": "Get Appstore Apps",
        "description": "List all AppStore apps.",
        "operationId": "getAppStoreApps",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filters apps by the ID of the app.",
              "title": "App Id"
            },
            "description": "Filters apps by the ID of the app."
          },
          {
            "name": "name_search",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Search against name, app instance identifier, and app class ID.",
              "title": "Name Search"
            },
            "description": "Search against name, app instance identifier, and app class ID."
          },
          {
            "name": "exact_match",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Search filter should be an exact match.",
              "default": false,
              "title": "Exact Match"
            },
            "description": "Search filter should be an exact match."
          },
          {
            "name": "all_visibilities",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Get all apps in the AppStore regardless of visibility. Only available to admins.",
              "default": false,
              "title": "All Visibilities"
            },
            "description": "Get all apps in the AppStore regardless of visibility. Only available to admins."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Page size",
              "default": 50,
              "title": "Size"
            },
            "description": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page_AppStoreApp_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/appstore/apps/{app_id}": {
      "delete": {
        "tags": [
          "AppStore"
        ],
        "summary": "Remove App From Appstore",
        "description": "Remove app from AppStore.",
        "operationId": "removeAppFromAppStore",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "App Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "AppStore"
        ],
        "summary": "Get Appstore App",
        "description": "Get AppStore app.",
        "operationId": "getAppStoreApp",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "App Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppStoreApp"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/appstore/access_requests/{id}": {
      "get": {
        "tags": [
          "AppStore"
        ],
        "summary": "Get Access Request",
        "description": "Get access request by ID.",
        "operationId": "getAccessRequest",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessRequest"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AppStore"
        ],
        "summary": "Cancel Access Request",
        "description": "Cancel an access request.",
        "operationId": "cancelAccessRequest",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Id"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Reason for cancellation.",
              "title": "Reason"
            },
            "description": "Reason for cancellation."
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/appstore/access_request": {
      "post": {
        "tags": [
          "AppStore"
        ],
        "summary": "Create Access Request",
        "description": "Create a request to access a specific permission in the appstore.",
        "operationId": "createAccessRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccessRequestInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AccessRequest"
                  },
                  "type": "array",
                  "title": "Response Createaccessrequest"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/appstore/access_requests": {
      "get": {
        "tags": [
          "AppStore"
        ],
        "summary": "Get Access Requests",
        "description": "Get all access requests for the current organization.",
        "operationId": "getAccessRequests",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "target_user_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filters requests by the ID of the target user.",
              "title": "Target User Id"
            },
            "description": "Filters requests by the ID of the target user."
          },
          {
            "name": "requester_user_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filters requests by the ID of the requesting user.",
              "title": "Requester User Id"
            },
            "description": "Filters requests by the ID of the requesting user."
          },
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filters requests by the ID of the user.",
              "title": "User Id"
            },
            "description": "Filters requests by the ID of the user."
          },
          {
            "name": "statuses",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SupportRequestStatus"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filters requests by their status. Possible values: 'PENDING', 'PENDING_MANAGER_APPROVAL', 'MANAGER_APPROVED', 'MANAGER_DENIED', 'PENDING_APPROVAL', 'APPROVED', 'DENIED', 'EXPIRED', 'CANCELLED', 'PENDING_PROVISIONING', 'PENDING_MANUAL_PROVISIONING', 'DENIED_PROVISIONING', 'PROVISIONED', 'PENDING_MANUAL_DEPROVISIONING', 'TIME_BASED_EXPIRED', 'COMPLETED', 'REVERTING', 'REVERTED'",
              "title": "Statuses"
            },
            "description": "Filters requests by their status. Possible values: 'PENDING', 'PENDING_MANAGER_APPROVAL', 'MANAGER_APPROVED', 'MANAGER_DENIED', 'PENDING_APPROVAL', 'APPROVED', 'DENIED', 'EXPIRED', 'CANCELLED', 'PENDING_PROVISIONING', 'PENDING_MANUAL_PROVISIONING', 'DENIED_PROVISIONING', 'PROVISIONED', 'PENDING_MANUAL_DEPROVISIONING', 'TIME_BASED_EXPIRED', 'COMPLETED', 'REVERTING', 'REVERTED'"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Sort access requests ascending (ASC) or descending (DESC) by created date.",
              "default": "ASC",
              "title": "Sort"
            },
            "description": "Sort access requests ascending (ASC) or descending (DESC) by created date."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Page size",
              "default": 50,
              "title": "Size"
            },
            "description": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page_AccessRequest_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/vendor_agreements": {
      "get": {
        "tags": [
          "Vendor Management"
        ],
        "summary": "Get Vendor Agreements",
        "description": "List all of your company's vendor agreements.",
        "operationId": "listVendorAgreements",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Page size",
              "default": 50,
              "title": "Size"
            },
            "description": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page_VendorAgreement_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/found_documents": {
      "post": {
        "tags": [
          "Vendor Management"
        ],
        "summary": "Upload Found Documents",
        "description": "Upload a newly discovered document (e.g. Order Form, Quote) to Lumos for review",
        "operationId": "createFoundDocument",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FoundDocumentsUpload",
                "properties": {
                  "unique_identifier": {
                    "type": "string",
                    "title": "Unique Identifier",
                    "description": "A unique identifier for the contract being uploaded. This can be an ID from an external system like Coupa, an internal ID such as a PO number, or simply the name of the file."
                  },
                  "files": {
                    "items": {
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array",
                    "title": "Files",
                    "description": "A list of publicly accessible URLs that direct to files related to a Vendor Agreement. For example, the Order Form, Quote, MSA, or Terms and Conditions."
                  },
                  "vendor_name": {
                    "type": "string",
                    "title": "Vendor Name",
                    "description": "The name of the vendor associated with this document"
                  },
                  "start_date": {
                    "type": "string",
                    "format": "date",
                    "title": "Start Date",
                    "description": "The start date of the attached contract"
                  },
                  "end_date": {
                    "type": "string",
                    "format": "date",
                    "title": "End Date",
                    "description": "The end date of the attached contract"
                  },
                  "source_app_id": {
                    "type": "string",
                    "title": "Source App ID",
                    "description": "The ID of the app that sourced this document. For example, if you are using this API to create a custom Google Drive integration, you might include the ID for the Google Workspaceapp in Lumos. This determines which app's logo is displayed in Lumos."
                  },
                  "total_cost": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Cost"
                      }
                    ],
                    "title": "Total Cost",
                    "description": "The total cost of the contract. If this is a multi-year contract, this should include the cost for future years."
                  }
                },
                "type": "object",
                "required": [
                  "unique_identifier",
                  "files"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "unique_identifier": {
                    "type": "string",
                    "title": "Unique Identifier",
                    "description": "A unique identifier for the contract being uploaded. This can be an ID from an external system like Coupa, an internal ID such as a PO number, or simply the name of the file."
                  },
                  "files": {
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "type": "array",
                    "title": "Files",
                    "description": "A list of files related to a vendor agreement. For example, the Order Form, Quote, MSA, or Terms and Conditions."
                  },
                  "vendor_name": {
                    "type": "string",
                    "title": "Vendor Name",
                    "description": "The name of the vendor associated with this document"
                  },
                  "start_date": {
                    "type": "string",
                    "format": "date",
                    "title": "Start Date",
                    "description": "The start date of the attached contract"
                  },
                  "end_date": {
                    "type": "string",
                    "format": "date",
                    "title": "End Date",
                    "description": "The end date of the attached contract"
                  },
                  "source_app_id": {
                    "type": "string",
                    "title": "Source App ID",
                    "description": "The ID of the app that sourced this document. For example, if you are using this API to create a custom Google Drive integration, you might include the ID for the Google Workspaceapp in Lumos. This determines which app's logo is displayed in Lumos."
                  }
                },
                "type": "object",
                "required": [
                  "unique_identifier",
                  "files"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/orders": {
      "post": {
        "tags": [
          "Vendor Management"
        ],
        "summary": "Upload Order",
        "description": "Upload a newly discovered document (e.g. Order Form, Quote) to Lumos",
        "operationId": "createOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/art": {
      "get": {
        "tags": [
          "Meta"
        ],
        "summary": "Get Art",
        "description": "Return Lumos ASCII art. Can be used to verify the API is working.",
        "operationId": "Lumos Art.",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/info": {
      "get": {
        "tags": [
          "Meta"
        ],
        "summary": "Get Info",
        "description": "Returns current git revision.",
        "operationId": "Lumos liveness check",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Response Lumos Liveness Check"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/airbase/purchase_request_approved/{domain_app_uuid}": {
      "post": {
        "tags": [
          "Integration Webhooks"
        ],
        "summary": "Process Airbase Purchase Request Approved",
        "description": "Webhook for Airbase to send events as a workflow transitions through milestones",
        "operationId": "processAirbaseMilestoneEvent",
        "parameters": [
          {
            "name": "domain_app_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Domain App Uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AirbasePurchaseRequestEvent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AccessRequest": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "The ID of the access request."
          },
          "app_id": {
            "type": "string",
            "title": "App Id",
            "description": "The ID of the app the request is for."
          },
          "app_name": {
            "type": "string",
            "title": "App Name",
            "description": "The name of the app the request is for."
          },
          "requester_user": {
            "allOf": [
              {
                "$ref": "#/components/schemas/User"
              }
            ],
            "description": "The user who requested access. It's possible for one user to request access on another's behalf."
          },
          "target_user": {
            "allOf": [
              {
                "$ref": "#/components/schemas/User"
              }
            ],
            "description": "The user the request is for."
          },
          "supporter_user": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/User"
              },
              {
                "type": "null"
              }
            ]
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/SupportRequestStatus"
              }
            ],
            "description": "The current status of the request."
          },
          "notes": {
            "additionalProperties": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ]
            },
            "type": "object",
            "title": "Notes",
            "description": "The reason the user wrote for putting the access request into the given state.",
            "default": {}
          },
          "expires_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Expires At"
          },
          "requestable_permissions": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/RequestablePermissionOutput"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Requestable Permissions"
          },
          "requested_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Requested At"
          }
        },
        "type": "object",
        "required": [
          "id",
          "app_id",
          "app_name",
          "requester_user",
          "target_user",
          "status"
        ],
        "title": "AccessRequest",
        "description": "API version of DomainAppSupportRequest."
      },
      "Account": {
        "properties": {
          "app_id": {
            "type": "string",
            "title": "App Id",
            "description": "The ID of the app that owns this account."
          },
          "unique_identifier": {
            "type": "string",
            "title": "Unique Identifier",
            "description": "The stable identifier of this account from the associated service."
          },
          "account_type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AccountType"
              }
            ],
            "description": "The type of this account, one of 'USER', 'ROLE' (e.g. AWS), 'SERVICE' (e.g. GCP)."
          },
          "email": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Email",
            "description": "The email of this account."
          },
          "user_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "User Id",
            "description": "The ID of the user associated with this account."
          }
        },
        "type": "object",
        "required": [
          "app_id",
          "unique_identifier",
          "account_type"
        ],
        "title": "Account"
      },
      "AccountInput": {
        "properties": {
          "unique_identifier": {
            "type": "string",
            "title": "Unique Identifier",
            "description": "A unique identifier for this account, such as an account ID or email."
          },
          "email": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Email",
            "description": "The email of this account."
          },
          "first_name": {
            "type": "string",
            "title": "First Name",
            "description": "The first name of the user."
          },
          "last_name": {
            "type": "string",
            "title": "Last Name",
            "description": "The last name of the user."
          },
          "last_activity": {
            "type": "string",
            "title": "Last Activity",
            "description": "The datetime of last activity of the user."
          },
          "last_login": {
            "type": "string",
            "title": "Last Login",
            "description": "The datetime of last login of the user."
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AccountLifecycleStatus"
              }
            ],
            "description": "The status of the account."
          },
          "permissions": {
            "items": {
              "$ref": "#/components/schemas/PermissionInput"
            },
            "type": "array",
            "title": "Permissions",
            "description": "The permissions of the account.",
            "default": []
          },
          "attributes": {
            "items": {
              "$ref": "#/components/schemas/AttributeInput"
            },
            "type": "array",
            "title": "Attributes",
            "description": "The attributes of the account.",
            "default": []
          }
        },
        "type": "object",
        "required": [
          "unique_identifier"
        ],
        "title": "AccountInput"
      },
      "AccountLifecycleStatus": {
        "type": "string",
        "enum": [
          "DISCOVERED",
          "STAGED",
          "ACCESS_CREATED",
          "ACTIVE",
          "ARCHIVED",
          "SUSPENDED",
          "DEPROVISIONED",
          "MANUALLY_REMOVED",
          "ACCESS_REMOVED",
          "NON_CORPORATE_ACCOUNT",
          "WAITING_MANUAL_REMOVAL"
        ],
        "title": "AccountLifecycleStatus",
        "description": "NOTE: If you update this, also update UserDomainAppLifecycleStatus\n\nDISCOVERED             - Account discovered through accountfinding. Could be noisy.\n\nSTAGED                 - An account that has been queued for provisioning, but is not\n                         provisioned yet. Relevant for Apps where provisioning is async\n                         (eg. Okta, OneLogin).\n\nACCESS_CREATED         - When an account has been provisioned but not accessed.\n\nACTIVE                 - A live, active, accessible account.\n\nSUSPENDED              - The user can no longer access the account, the license may or may not\n                         be removed. The account can be recovered.\n\nDEPROVISIONED          - The user can no longer access the account, the license was removed,\n                         and the account cannot be recovered.\n\nARCHIVED               - The user can no longer access the account, the license may or may not\n                         be removed. The account can be recovered.\n\nMANUALLY_REMOVED       - The user can no longer access the account, the license is presumably\n                         removed, but all of this was done manually\n\nACCESS_REMOVED         - The user can no longer access the account, but a license may still\n                         exist. This is the case when we remove access through Okta but not a\n                         direct integration\n\nNON_CORPORATE_ACCOUNT  - The account doesn't exist, or is a personal employee account.\n\nWAITING_MANUAL_REMOVAL - Waiting manual removal, someone was requested to remove the user access\n                         from the App, and we are waiting for an answer about it."
      },
      "AccountType": {
        "type": "string",
        "enum": [
          "USER",
          "ROLE",
          "SERVICE"
        ],
        "title": "AccountType"
      },
      "AccountsUploadInput": {
        "properties": {
          "accounts": {
            "items": {
              "$ref": "#/components/schemas/AccountInput"
            },
            "type": "array",
            "title": "Accounts",
            "description": "Accounts to upload.",
            "default": []
          },
          "app_id": {
            "type": "string",
            "title": "App Id",
            "description": "The ID of the app to upload accounts to."
          }
        },
        "type": "object",
        "required": [
          "app_id"
        ],
        "title": "AccountsUploadInput"
      },
      "ActivityLog": {
        "properties": {
          "event_hash": {
            "type": "string",
            "title": "Event Hash"
          },
          "event_type": {
            "type": "string",
            "title": "Event Type"
          },
          "event_type_user_friendly": {
            "type": "string",
            "title": "Event Type User Friendly"
          },
          "outcome": {
            "type": "string",
            "title": "Outcome"
          },
          "targets": {
            "items": {
              "type": "object"
            },
            "type": "array",
            "title": "Targets"
          },
          "actor": {
            "type": "object",
            "title": "Actor"
          },
          "event_began_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Event Began At"
          },
          "event_metadata": {
            "type": "object",
            "title": "Event Metadata"
          }
        },
        "type": "object",
        "required": [
          "event_hash",
          "event_type",
          "event_type_user_friendly",
          "outcome",
          "targets",
          "actor",
          "event_metadata"
        ],
        "title": "ActivityLog",
        "description": "API version of SIEMEvent"
      },
      "ActivityRecord": {
        "properties": {
          "account": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ActivityRecordAccountInput"
              }
            ],
            "description": "Metadata that Lumos can use to match the activity record to a software account within Lumos."
          },
          "event": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ActivityRecordEventInput"
              }
            ],
            "description": "Metadata about the event being uploaded."
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "title": "Timestamp",
            "description": "The timestamp of this event, in ISO 8601 format."
          },
          "source_app_id": {
            "type": "string",
            "title": "Source App Id",
            "description": "UUID of the application in Lumos where this activity record was sourced (e.g. the ID of Okta within Lumos found by going to Apps > Find your app in the list > Click '...' > Copy Stable Identifier)"
          },
          "app": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ActivityRecordAppInput"
              },
              {
                "type": "null"
              }
            ],
            "description": "Metadata that Lumos can use to match the activity record to an application within Lumos."
          }
        },
        "type": "object",
        "required": [
          "account",
          "event",
          "timestamp",
          "source_app_id"
        ],
        "title": "ActivityRecord"
      },
      "ActivityRecordAccountInput": {
        "properties": {
          "external_id": {
            "type": "string",
            "title": "External Id",
            "description": "The external app's user ID for the account."
          },
          "email": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Email",
            "description": "The email associated with the account"
          }
        },
        "type": "object",
        "title": "ActivityRecordAccountInput"
      },
      "ActivityRecordAppInput": {
        "properties": {
          "instance_identifier": {
            "type": "string",
            "title": "Instance Identifier",
            "description": "The ID of the app as it is identified in the source E.g. the ID that Okta uses to identify the app"
          }
        },
        "type": "object",
        "required": [
          "instance_identifier"
        ],
        "title": "ActivityRecordAppInput"
      },
      "ActivityRecordEventInput": {
        "properties": {
          "type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ActivityRecordEventType"
              }
            ],
            "description": "The type of event being uploaded."
          }
        },
        "type": "object",
        "required": [
          "type"
        ],
[...]
